/build/CMakeFiles
/build/components
/build/cmake_install.cmake
/build/CMakeCache.txt
/build/Makefile

# python-venv directories and files
/tools/sandbox
/tools/.temp

# vs-code files to ignore
.vscode/

# output/build files to ignore
output/
